.page_content {
    text-align: center;
    font-family:'Comfortaa';
    font-size: 25px;
    max-width: 50%;
    flex-direction: column;
}

body {
    background-image: url("./pictures/background.jpg");
}
