.card {
    width: 300px;
    background: #fff;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  }

.card:hover {
    box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
}

.card_content {
    font-family:'Comfortaa';
    font-size: 25px;
    padding: 40px 25px;
    color: #999999;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.card_excerpt{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.card_media {
    position: relative;
    width: 300px;
}
.background {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.card_media::before{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

.card_media img{
    display: block;
    max-width: 100%;
    height: auto;
}

.card.card--wide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 768px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card--wide .card_content{
    padding: 20px 20px;
    width: calc(100% - 300px);
}

.card--wide .card_excerpt{
    max-height: none;
}

.card:hover .card_excerpt {
    max-height: 300px;
}
